<h1>Welcome to the Finance Tracker App</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= button_to 'My Portfolio', my_portfolio_path, method: :get %>
<br>
<%= button_to 'Sign Out', destroy_user_session_path, method: :delete %>